section.contact
  <div class="contact__address container-fluid row">
    <div class="col-12 col-md-3">
      <p><strong>Address</strong></p>
      <p>Brooklyn Bridge Park </p>
      <p>New York, NY</p>
      <br>
      <p><strong>Contacts</strong></p>
      <p>Email: information@boff.com</p>
      <p>Phone: +1 (0) 000 0000 001</p>
    </div>
    <div class="contact__links col-12 col-md-3">
      <p><strong>Partners</strong></p>
      <p><a class="text-white" href="https://www.brooklynbridgepark.org/">Brooklyn Bridge Park Website</a></p>
      <p><a class="text-white" href="http://brooklyn.news12.com/">Brooklyn News 12</a></p>
      <br>
      <p><strong>Feedback</strong></p>
      <p>Please send us your ideas, transit reports, suggestions! Any feedback would be appreciated.</p>
    </div>
    <div class="col-12 col-md-6">
      <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJjaFpo0ZawokRBcOFUZ13CaE" allowfullscreen=""></iframe></div>
    </div>
  </div>
