section.contact
  <div class="container-fluid row">
    <div class="col-12 col-md-3">
      <p><strong>Address</strong></p>
      <p>1234 Street Name</p>
      <p>City, AA 99999</p>
      <p><strong>Contacts</strong></p>
      <p>Email: support@mobirise.com</p>
      <p>Phone: +1 (0) 000 0000 001</p>
      <p>Fax: +1 (0) 000 0000 002</p>
    </div>
    <div class="col-12 col-md-3">
      <p><strong>Links</strong></p>
      <p><a class="text-white" href="https://mobirise.com/">Website builder</a></p>
      <p><a class="text-white" href="https://mobirise.com/mobirise-free-win.zip">link</a></p>
      <p><a class="text-white" href="https://mobirise.com/mobirise-free-mac.zip">Download for Mac</a></p>
      <p><strong>Feedback</strong></p>
      <p>Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.</p>
    </div>
    <div class="col-12 col-md-6">
      <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw" allowfullscreen=""></iframe></div>
    </div>
  </div>
