section.hero
  <div class="jumbotron ">
    <div class="hero__overlay"></div>
    <container class="container hero__container">
      <h1 class="display-4">Join us</h1>
      <p class="lead">August 5th to 8th at <span>Brooklyn Bridge Park</span></p>
      <a class="hero__btn btn btn-secondary btn-lg" href="" role="button">REGISTER</a>
    </container>
  </div>
