section.infos-register.container-fluid.row
  div.infos.col-lg-6
    div
      h3 The Festival
      p Come spend a night under the stars Saturday through Monday, August 5th to 8th, 2018 at the 21st Brooklyn Outdoor Film Festival. This FREE event showcases the recent hit and classic favorite feature movies celebrating the end of summer and benefitting NIH Children’s Charities. The Festival, featuring the only nine-story high, 52-foot wide inflatable movie screen within 1,000 miles, offers an unrivaled outdoor movie experience with digital cinema projection.

    div
      h3 Last News
      p WEATHER: In case of inclement weather, outdoor movies are cancelled. Visit <a href="https://www.brooklyn.news12.com/weather">www.brooklyn.news12.com/weather</a> or follow BOFF on Facebook and Twitter for up-to-date information.
      p
        a.btn.btn-secondary.btn-sm(href='#', role='button') Read more »
  div.register.col-lg-6
    h3 Pre-register
    <form>
      <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="">
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"> Want to subscribe to our newsletter?
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
