section.movies.container
  h3 Movies
  ul.movies__carousel.container-fluid
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>
    <li class="card">
      <img class="card-img-top" src="/img/hero.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Day: August 5th</li>
        <li class="list-group-item">Time: 10:00pm</li>
      </ul>
    </li>



















