<footer class="footer">
  <div class="container-fluid row">
    <div class="col-12 col-sm-8">
      <p class="text-center text-sm-left">© BOFF 2017 - All Rights Reserved</p>
    </div>
    <ul class="col-12 col-sm-4 row justify-content-center justify-content-sm-end">
      <li>
        <a class="fa fa-facebook" href="https://www.facebook.com" target="_blank"></a>
      </li>
      <li>
        <a class="fa fa-twitter" href="https://www.twitter.com" target="_blank"></a>
      </li>
      <li>
        <a class="fa fa-instagram" href="https://www.instagram.com" target="_blank"></a>
      </li>
    </ul>
  </div>
</footer>
