header.header
  nav(class="fixed-top navbar navbar-inverse bg-inverse navbar-toggleable-sm")
    button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
    a(class="navbar-brand" href="#")
      img.align-middle(src="/img/boff-logo.svg" width="auto" height="40" class="d-inline-block align-top" alt="")
      span.header__logo-text.hidden-xs-down.align-middle Brooklyn Outdoor Film Festival
      span.header__logo-text.hidden-sm-up.align-middle BOOF

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav mr-auto justify-content-end w-100">
        <li class="nav-item">
          <a class="nav-link header__link header__link-movies" href="">Movies<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link header__link header__link-about" href="">The Festival<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link header__link header__link-contact" href="">Contact<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
