header.header
  nav(class="navbar navbar-inverse bg-inverse navbar-toggleable-md")
    button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
    a(class="navbar-brand" href="#")
      img(src="/img/boff-logo.svg" width="30" height="30" class="d-inline-block align-top" alt="")
      span BOFF

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto justify-content-end w-100">
        <li class="nav-item active">
          <a class="nav-link" href="#">The Festival<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Movies<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Register<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Contact<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
